body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.mainColumn
{
  width: 500px;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="number"],
button {
    display: block;
    margin-bottom: 10px;
}

input[type="number"]
{
  width: 50px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#entries, #totals {
    margin-top: 20px;
}

#daily-totals, #monthly-totals {
    margin: 10px 0;
}

.inputRow
{

  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  padding: 6px;
  max-width: 100%;
  position: relative;
  /* flex-direction: column; */
  column: 19px;
  flex-wrap: wrap;
}
