body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.mainColumn
{
  width: 350px;
}

h1, h2 {
    color: #333;
    /* width: 100%; */
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="number"],
button {
    display: block;
    margin-bottom: 10px;
}

input[type="number"]
{
  width: 50px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 33px;
    width: 100%;
    border-radius: 30px;
    font-size: 21px;
    padding: 10px;
    box-shadow: 3px 3px 6px #00000036;
}

button:hover {
    background-color: #45a049;
}

#entries, #totals {
    margin-top: 20px;
}

#daily-totals, #monthly-totals {
    margin: 10px 0;
}

.inputRow, #payer
{

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 6px; */
  max-width: 100%;
  position: relative;
  /* flex-direction: column; */
  column: 19px;
  flex-wrap: wrap;
}

#amount, #description
{
  width: 92%;
  border-radius: 30px;
  font-size: 21px;
  padding: 10px;
  text-align: center;
  border: 2px solid #ccc;
  box-shadow: inset 3px 3px 11px #0000002b;
}

input#description {
    height: 66px;
}

/* Hide the actual radio buttons */
input[type="radio"] {
    display: none;
}

/* Style the labels to look like radio buttons */
.payer-button, .menuButton {
  border: 2px solid #ccc;
  padding: 10px;
  /* margin-right: 5px; */
  cursor: pointer;
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 50%;
  font-size: 24px;
  text-align: center;
  /* line-height: 1.5; */
  box-shadow: 3px 3px 10px #00000036;
}

/* Style for selected radio button */
input[type="radio"]:checked + .payer-button {
  /*background-color: #007bff; */
  color: white;
  /* border-color: #007bff; */
  box-shadow: inset 3px 3px 5px #00000036;
}
